/* Colores base */
:root {
    --primary-bg: #1E88E5;
    --secondary-bg: #00695C;
    --tertiary-bg: #1ae5de;

    --primary-color: #1E88E5;
    --secondary-color: #00695C;
    --tertiary-color: #1ae5de;

}

