{% extends 'base.html' %}

{% block body %}


{% include 'message.html' %}

<main class="container">

    <article class="login-form">
      <header>
        <h3>Iniciar sesión</h3>
      </header>

      <form method="POST">
        {% csrf_token %}
        
        <label for="username">
          Usuario
          <input type="text" id="username" name="username" placeholder="Ingresa tu usuario" required>
        </label>

        <label for="password">
          Contraseña
          <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>
        </label>

        <hr>

        <button type="submit">
          Iniciar sesión
        </button>
      </form>
    </article>




</main>



{% endblock %}