{% if messages %}
<div>
  {% for message in messages %}
    {% if message.tags == 'success' %}
    <section class="pico-background-green-500" role="alert">
      ✅ <strong>¡Éxito!</strong> {{ message }}
    </section>
    {% elif message.tags == 'error' %}
    <section class="pico-background-red-500" role="alert">
      ❌ <strong>Error:</strong> {{ message }}
    </section>
    {% elif message.tags == 'warning' %}
    <section class="pico-background-yellow-400" role="alert">
      ⚠️ <strong>Atención:</strong> {{ message }}
    </section>
    {% else %}
    <section class="pico-background-cyan-400" role="alert">
      ℹ️ <strong>Información:</strong> {{ message }}
    </section>
    {% endif %}
  {% endfor %}
</section>
{% endif %}
